/************************************/
/* 为了更好的解决浏览器间的兼容性   */
/* 去除浏览器自身的特性设置         */
/* 先利用下面的代码清空浏览器特有格式  */
/* YUI 3.1.2 css reset              */
/************************************/
html{
	color:#000;
}
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, th, var {
	font-style:normal;
	font-weight:normal;
}
li {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input, textarea, select {
	*font-size:100%;
}
legend {
	color:#000;
}

/*************/
/*    全局   */
/*************/
/* 主体 */
body {
	color: #000000;
	font-size: 12px;
	line-height: 18px;
	font-family: SimSun, STHeiti, Arial, Verdana, sans-serif;
	background: #000000 url(http://static.kunlun.com/yh/images/bg.png) no-repeat scroll center 0px;
}
/* 链接 */
a:link, a:visited {
	color: #00F0FF;
	text-decoration: none;
}
a:hover, a:active {
	color: #00F0FF;
	text-decoration: underline;
}
/* 列表 */
ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}
/* 分割线 */
hr {
	background: #E3E3E3 none repeat scroll 0 0;
	border: 0px solid #E3E3E3;
	color: #E3E3E3;
	height: 1px;
	margin: 3px 0;
	*margin: 0;
}
/* 段落 */
p {
	line-height: 18px;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 120%;
}
h1 span, h2 span {
	font-size: 12px;
	color: #CCC;
}
/* 表单 */
input, textarea, select {
	margin: 0 2px;
	vertical-align: middle;
	_display: inline;
}
input {
	padding: 2px;
	height: 13px;
}
textarea {
	padding: 2px;
}
select {
	height: 20px;
}
/* 图片 */
img {
	vertical-align: middle;
}
/* FF下的虚线 */
a, div, span {
	outline: 0;
}

#wrapper {
	width: 1000px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 108px;
}
#bs48 {
	width: 1000px;
	text-align: center;
	margin-top: 15px;
	color: #FFF;
}